ul {
    list-style: none;
}

body { 
    background-color: rgb(139, 177, 212);
}

section { 
    width: 340px;
    padding: 30px;
    background-color: rgb(222, 234, 237);
    margin: 50px auto;
    box-shadow: 10px 10px 30px black;
    border-radius: 10px;
}

section nav.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    color: #666;
}
section article.profile {
    width: 100%;
    text-align: center;
}
section article.profile img { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;

}
section article.profile h1 { 
    font-weight: bold;
    font-size: 25px;
    font-family: "arial";
    color: #515658;
    margin-bottom: 10px;
    text-decoration: none;
}
section article.profile h2 { 
    font-weight: normal;
    font-size: 12px;
    font-family: "arial";
    color: #515658;
    margin-bottom: 20px;
}
section article.profile a.btnView{
    display: block;
    width: 180px;
    height: 32px;
    margin: 30px auto 0px;
    background-color: #444;
    border-radius: 16px;
    font-weight: bold;
    font-size: 10px;
    font-family: "arial";
    color: #fff;
    line-height: 32px;
    text-align: center;

    background: linear-gradient(45deg, #9a8bd0, #77b9e0);
    box-shadow: 5px 10px 20px rgba(0, 255, 255, 0,.493);
}

section ul.contact {
    margin-bottom: 10px;
}

section ul.contact li {
    width: 100%;
    padding: 10px 0px;
}

section ul.contact li i {
    width: 20%;
    text-align: center;
    color: #555;
    font-size: 20px;
    text-shadow: 2px 2px 2px #8bacd8;
}

section ul.contact li i span {
    font-weight: normal;
    font-size: 10px;
    color: #d9b4b4;
    letter-spacing: 1px;
}

section nav.others {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

section nav.others a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 10px;
    opacity: 0.4;
    filter: saturate(1);
}

section nav.others a:nth-of-type(1) {
    background-color: #8c63c2;
    box-shadow: 5px 5px 10px rgba(55, 64, 64, 0.7);
}
section nav.others a:nth-of-type(2) {
    background-color: #9a8bd0;
    box-shadow: 5px 5px 10px rgba(55, 64, 64, 0.7);
}
section nav.others a:nth-of-type(3) {
    background-color: #80bedc;
    box-shadow: 5px 5px 10px rgba(55, 64, 64, 0.7);
}
section nav.others a:nth-of-type(4) {
    background-color:#6596d3;
    box-shadow: 5px 5px 10px rgba(55, 64, 64, 0.7);
}